**/*.pyc
**/*pycache*
**/tmp
**/.pytest*
**/.pytest_cache
.idea
/venv
fetching_pictograms_tool/venv
fetching_pictograms_tool/.idea
fetching_pictograms_tool/pictograms
model/load_images/pictograms
model/load_images/pictograms_val
model/load_images/weights
model/load_images/venv
model/load_images/pictograms_test
